<!DOCTYPE html>
<html>
<head>
  <title>ToolChest</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container">
    <% if logged_in? %>
    <h2><%= link_to "Logout", logout_path, method: "delete"%></h2>

    <p><strong>Newest tool:</strong> <%= "#{most_recent_tool.name}" if most_recent_tool %></p>
    <p><strong>Current Sessions Tool Summary:</strong></p>
    <p><%= current_tool_summary %></p>
    <% end %>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
